@import "variables";
footer{
    background-color:$color4;
    
    text-align: center;

    .fa-facebook-square{
    font-size: 65px;
    color:$color2;
}
.fa-instagram-square{
    font-size: 65px;
    color: $color2;
}
.fa-twitter{
    font-size: 65px;
    color: $color2;
}



}