@import "variables", "body", "header", "footer";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}






.cafeteria{
    width: 250px;
}
h1{
    border:$color2 2px;
    font-family: $font1;
}
h2{
    border: $color2 solid 2px;
}
@mixin opcion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
    @include opcion1()
    
}
.ambiente{
    @include opcion1()
    
}
.imagen{
    width: 1900px;
    height: 750px;
}

