$color1:#e5dac3;
$color2:#090909;
$color3:brown;
$color4:#efca79;
$font1:'Edu NSW ACT Foundation', cursive;
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



body{
    background-color: $color1;
    font-family: $font1;
    font-size: 25px;
    
}
header{
    background-image: url(https://thumbs.dreamstime.com/b/collage-muchas-im%C3%A1genes-del-caf%C3%A9-110454394.jpg);
    background-size: contain;
    .btn{
    background-color:$color1;
    border-color: $color2;
    color: $color3;
}
.btn:hover{
    background-color: $color1;
}
}


.cafeteria{
    width: 250px;
}
h1{
    border:$color2 2px;
    font-family: $font1;
}
h2{
    border: $color2 solid 2px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.ambiente{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
footer{
    background-color:$color4;
    
    text-align: center;

    .fa-facebook-square{
    font-size: 65px;
    color:$color2;
}
.fa-instagram-square{
    font-size: 65px;
    color: $color2;
}
.fa-twitter{
    font-size: 65px;
    color: $color2;
}



}
